@import "../../design-tokens/variables";

.Details {
	height: 100%;
	width: 100%;
}

.Details h1 {
	padding: $token-spacing-medium;
}

.DetailsSummaryContainer {
	display: flex;
	margin: 0 $token-spacing-small;
}

.DetailsSummary {
	margin-left: $token-spacing-medium;
}

.DetailsCoverImage {
	max-width: 500px;
	min-width: 200px;
}

@media only screen and (max-width: $token-breakpoint-mobile) {
	.DetailsSummaryContainer {
		flex-flow: column;
	}

	.DetailsSummaryContainer {
		margin: 0;
	}

	.DetailsSummary {
		margin-left: 0;
		padding: 0 8px;
	}
}
